.match-bet {
    padding: 5vh 5vh;
}

.match-board {
    background: #292a31;
    color: white;
    padding: 5vh;
    border-radius: 10px;

}


.bet-card {
    display: flex
}

.bet-card-title {
    margin: 10vh 0vh 0vh 0vh;
    padding: 10px;
    background: #ff6e3e;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    float: left;
}

.bet-card-content {
    margin: 10vh 0vh 0vh 0vh;
    padding: 10px;
    background: white;
    height: 50px;
    min-width: 500px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    left: -10;
}

.bet-card-action  {
    margin: 10vh 0vh 0vh 0vh;
    padding: 10px;
    background: rgb(0, 183, 255);
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    left: -10;
}