.header {
    display: flex;
    flex-wrap: wrap;
    background: #30044944;
    height: 50px;
}

.logox{
    padding: 5px 10px 10px 50px;
}
.logox >img{
       object-fit: cover;
       width:65%;
} 

.white {
    background: white;
}

.ant-modal-content {
    border-radius: 20px;
}